body{
   margin:0;
}

.wrap{
  max-width: 1200px;
   margin: auto;
}

.grid{
   display: grid;
   grid-template-columns: auto auto auto;
  /* grid-gap: 10px;*/
   grid-template-rows: 33.3333333333% 33.3333333333% 33.3333333333%;
   background-image: url("../img/hero-image.jpg");
   width:100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100%;
   min-height: 600px;

}

.grid > div {

   text-align: center;
   padding: 20px 0;
   font-size: 30px;
}


.all-row-2 {

   grid-column: span 2;
}
.all-row-1 {

   grid-column: span 1;
}


/*

.image{
   background-image: url("../img/hero-image.jpg");
   width:100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100%;
   min-height: 600px;
}*/
